$color-body : #F8FFFB;
$color-white : #ffffff;
$color-black : #000000;
$color-red : #FF1400;

$color-label : #666666;
$color-btn : #799AEA;
$color-nonbtn : #c3c3c3;
$color-logoborder : #BBCEFA;

$color-toolbar : #cccccc;
$color-postborder : #9A9A9A;
$color-postback : #f2f2f2;
$color-writebtn : #88D061;
$color-commentitem : #8A8A8A;
$color-libtn : #4979ED;
$color-list : #646464;
$color-listspan : #686868;