$color-body : #F8FFFB;
$color-white : #ffffff;

$color-label : #666666;
$color-btn : #799AEA;
$color-nonbtn : #c3c3c3;
$color-logoborder : #BBCEFA;

$color-toolbar : #cccccc;
$color-postborder : #9A9A9A;
$color-postback : #f2f2f2;